/* header start */
.header-left {
  margin-left: 167.53px;
  margin-top: 55.18px;
  color: #34313d;
  display: inline-block;
}
.header-left a {
  text-decoration: none;
  color: #34313d;
  font-size: 25px;
  font-weight: 700;
}
.header-center {
  display: inline-block;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #9e9aa8;
}
.header-right {
  position: relative;
  display: inline-block;
  margin-left: 400px;
}
.header-right .login {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #9e9aa8;
}
.header-right .box {
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 105px;
  border-radius: 28px;
  background-color: #2bd0d0;
  color: #ffffff;
  padding-left: 22px;
  padding-top: 8px;
  margin-left: 37px;
  margin-top: -7px;
}
.header-right .box .sign-up {
  font-size: 15px;
  font-weight: 700;
}
/* header end */

/* main start */
/* top section start */
#top {
  height: 600px;
  background-color: #ffffff;
  display: flex;
}
#top .left {
  width: 50%;
}
#top .left h1 {
  position: absolute;
  font-size: 60px;
  line-height: 70px;
  color: #34313d;
  letter-spacing: -2px;
  padding-left: 165px;
  padding-top: 110px;
}
#top .left .info {
  font-weight: 500px;
  font-size: 17px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9e9aa8;
  padding-left: 165px;
  padding-top: 255px;
}
.btn {
  background: #2bd0d0;
  border-radius: 28px;
  width: 197px;
  height: 56px;
  text-align: center;
  margin-left: 165px;
  margin-top: 38px;
}
.btn-p {
  padding-top: 14px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
#top .right {
  margin-left: 63.3%;
  position: absolute;
}
#top .right .img-right {
  margin-top: 50px;
}

#top .shorten-box {
  position: absolute;
  width: 985px;
  height: 168px;
  margin-right: 165px;
  margin-left: 165px;
  margin-top: 515px;
  background-color: #3a3054;
  border-radius: 10px;
}

#top .shorten-box .wave .wave-bottom {
  position: absolute;
  padding-top: 29px;
  border-radius: 10px;
}
#top .shorten-box .wave .wave-top {
  padding-left: 522px;
  border-radius: 10px;
}
#top .shorten-box .input {
  position: absolute;
  margin-top: -120px;
  margin-left: 64px;
  display: flex;
  justify-content: space-between;
}
input {
  height: 64px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  padding-left: 32px;
  border: 0px;
}
input::placeholder {
  position: absolute;
  height: 36px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #34313d;
  opacity: 0.5;
  padding-top: 20px;
}
#top .shorten-box .btn-input {
  position: absolute;
  background-color: #2bd0d0;
  border-radius: 10px;
  height: 64px;
  width: 188px;
  margin-left: 669px;
}
#top .shorten-box .btn-input .btn-input-p {
  position: absolute;
  height: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 18px 40px 16px 40px;
}
/* top section end */

/* center section start */
#center {
  background-color: #eff1f7;
  height: 900px;
}
#center .text {
  display: flex;
  justify-content: center;
}
#center .text .p-top {
  position: absolute;
  height: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #34313d;
  padding-top: 186px;
}
#center .text .p-bottom {
  position: absolute;
  height: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.122727px;
  color: #9e9aa8;
  padding-top: 252px;
  height: 64px;
  width: 540px;
  text-align: center;
}
#center .line {
  display: inline-block;
  border-top: 8px solid #2bd0d0;
  position: absolute;
  width: 990px;
  margin-left: 165px;
  margin-top: 476px;
}
#center .cards {
  display: flex;
}
#center .card-1,
#center .card-2,
#center .card-3 {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  height: 227px;
  width: 310px;
}
#center .card-1 {
  margin-top: 350px;
  margin-left: 165px;
}
#center .card-2 {
  margin-top: 394px;
  margin-left: 505px;
}
#center .card-3 {
  margin-top: 438px;
  margin-left: 845px;
}
h3 {
  height: 33px;
  font-weight: 700;
  font-size: 19px;
  line-height: 33px;
  color: #34313d;
  padding-top: 50px;
  padding-left: 32px;
}
#center .cards .card-p {
  height: 104px;
  font-weight: 500;
  font-size: 13px;
  line-height: 26px;
  color: #9e9aa8;
  padding-top: 45px;
  padding-left: 32px;
  padding-right: 32px;
}
#center .cards .card-icon {
  position: absolute;
  background: #3a3054;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  margin-top: -200px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
}
#center .cards .card-icon .icon {
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 20px;
}
#center .cards .card-icon .icon {
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: 20px;
}
/* center section end */

/* bottom section start */
#bottom .top {
  width: 100%;
  height: 250px;
  background: #3a3054;
  display: flex;
  justify-content: center;
}
#bottom .top img {
  position: absolute;
}
#bottom .top .first {
  margin-right: 653px;
}
#bottom .top .second {
  margin-right: 500px;
  margin-top: 143px;
}
#bottom .top .third {
  margin-left: 653px;
}
#bottom .top h3 {
  position: absolute;
  height: 48px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #ffffff;
}
#bottom .top .btn {
  position: absolute;
  margin-top: 137px;
  margin-right: 137px;
}
#bottom .bottom {
  width: 100%;
  height: 310px;
  background: #232127;
}
#bottom .bottom p {
  position: absolute;
  width: 120.04px;
  height: 32.67px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  padding-left: 163.53px;
  padding-top: 71.18px;
}
#bottom .bottom table {
  padding-top: 72px;
  padding-left: 515px;
}
#bottom .bottom thead {
  position: absolute;
}
#bottom .bottom th {
  padding-right: 90px;
  width: 84px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #ffffff;
}
#bottom .bottom tbody {
  position: absolute;
  padding-top: 50px;
}
#bottom .bottom td {
  height: 23px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.234375px;
  color: #bfbfbf;
  line-height: 30px;
  letter-spacing: -0.23 px;
}
#bottom .bottom .resources {
  padding-left: 50px;
}
#bottom .bottom .company {
  padding-left: 90px;
}
#bottom .bottom .network-icons {
  display: flex;
  justify-content: right;
  padding-right: 60px;
}
.fb-icon,
.tw-icon,
.pin-icon,
.ins-icon {
  padding-right: 24px;
}
/* bottom section end */
/* main section end */
